@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800;900&display=swap');

body {
    background-color: #000000;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

img, svg {
    vertical-align: middle;
}
*, ::after, ::before {
    box-sizing: border-box;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
p {
    margin: 0;
}
a {
    outline: none !important;
    text-decoration: none;
}

.main-layout {
    display: flex;
    justify-content: center;
}
.animated-cover {
    position: absolute;
    width: 100%;
    top: 0;
    height: 420px;
    background-image: linear-gradient(to bottom, rgb(0 0 0 / 0%), rgb(0 0 0 / 100%)), url(matrix.gif);
    z-index: -1;
    filter: hue-rotate(93deg);
    -webkit-filter: hue-rotate(93deg);
}
.centred {
    max-width: 850px;
    width: 100%;
    padding: 100px 30px;
}
.centred-inner {
    text-align: center;
}
img.my-photo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #1d1d1d;
    pointer-events: none;
}
p.name-title {
    color: white;
    margin-top: 20px;
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 0px;
}
p.desc-title {
    color: #ababab;
    font-size: 18px;
}
.buttons {
    margin: auto;
    display: block;
    margin-top: 25px;
}
.buttons a {
    color: white;
    font-weight: 700;
    padding: 10px 17px;
    border-radius: 30px;
    transition: 0.2s;
}
.buttons a:first-child { margin-right: 5px; }
.buttons a.vk { background-color: #0077FF; }
.buttons a.tg { background-color: #30A3E6; }
.buttons a.vk:hover {
    background: #0654ae;
    color: #ffffffc7;
}
.buttons a.tg:hover {
    background: #2a77a4;
    color: #ffffffd6;
}
.bio-grid {
    margin-top: 60px;
    max-width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: dense;
}
.bio-grid div .card {
    background: #ffffff0a;
    padding: 12px 15px;
    color: white;
    border-radius: 10px;
    border: 1px solid #161616;
    margin-bottom: 1rem;
    transition: 0.2s;
}
.bio-grid div .card:hover {
    background: #ffffff0f;
}
.bio-grid div a {
    color: #71b9ed;
    transition: 0.2s;
}
.bio-grid div a:hover {
    color: #6090b2;
}
.card p.name {
    color: #b2b2b2;
    margin-bottom: 5px;
}
.card p.text {
    margin-bottom: 0px;
    font-weight: 500;
}
p.titled-name {
    color: white;
    font-size: 25px;
    font-weight: 900;
    margin-top: 20px;
}
p.titled-name gray {
    margin-right: 15px;
    color: #373737;
}
p.titled-name.right {
    float: right;
}
p.titled-name.right gray {
    margin-left: 15px;
}
.proj-grid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    margin-top: 20px;
    grid-template-columns: repeat(2, 1fr);
}
.proj-grid .card {
    background: #141414;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    border: 1px solid #292929;
    position: relative;
    transition: 0.2s;
}
.proj-grid .card:hover {
    background: #1a1a1a;
}
.proj-grid .card img {
    width: 48px;
    border-radius: 10px;
}
.proj-grid .card .content {
    padding-left: 19px;
}
.proj-grid .card .content p.name {
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}
.proj-grid .card .content p.desc {
    color: #5f5f5f;
    line-height: normal;
    font-weight: 500;
    margin-bottom: 10px;
}
.proj-grid .card .content a {
    color: #71b9ed;
    font-weight: 500;
    transition: 0.2s;
}
.proj-grid .card .content a:hover {
    color: #6090b2;
}

@media screen and (max-width: 640px) {
    .centred {
        padding: 80px 30px
    }
    p.name-title {
        font-size: 30px;
    }
    p.desc-title {
        font-size: 16px;
    }
    .buttons a {
        font-size: 15px;
    }
    .bio-grid {
        margin-top: 40px;
        display: block;
    }
    .proj-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    img.my-photo {
        width: 180px;
        height: 180px;
    }
}
